* {
    margin: 0;
    padding: 0;
}

html {
    /* 
    font-size: 10px;
    10px / 16px = 0.625 = 62.5%
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

input,
button,
textarea,
select {
    font: inherit;
}